*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.nav{
  position: relative;
  width: 100%;
  height: 30px;
  background: #e3e4e5;
}
.navbody{
  position: relative;
  width: 1170px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
}
.navbody a{
  font-size: 12px;
  color: #a7a7a7;
  font-weight: 500;
}
.select_address{
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url(../images/address.png);
  background-size: 16px 17px;
  background-repeat: no-repeat;
  background-position: left;
}
#address_a{
  position: absolute;
  left: 20px;
}
.select_addyc{
  position: absolute;
  width: 320px;
  height: 440px;
  top: 30px;
  left: -1px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  display: none;
  z-index: 999;
  box-shadow: 1px 1px 2px #e7e7e7;
}
.city_red{
  background: #f10215 !important;
  color: #fff !important;
}
.select_addyc_city{
  position: relative;
  width: 320px;
  height: 230px;
  top:10px;
  border-bottom: 1px solid #eee;
}
.city_left{
  position:relative;
  left:-11px;
}
.select_addyc_city a{
  position: relative;
  width: 15px;
  height: 10px;
  margin:0 7px;
  padding: 4px 8px;
}
.select_addyc_city a:hover{
  background: #f4f4f4;
}
.select_addyc_zx{
  position: relative;
  width: 300px;
  height: 75px;
  top:20px;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
}
.select_addyc span{
  font-size: 12px;
  color: #a7a7a7;
  font-weight: 500;
}
.select_addyc_Sites{
  position: relative;
  width: 300px;
  height: 120px;
  top:20px;
  padding-left: 20px;
}
.Sites{
  position: relative;
  float: left;
  width: 150px;
  height: 25px;
  top:25px;
}
.Sitesbg{
  position: absolute;
  width: 13px;
  height: 13px;
  top:10px;
  margin-top: 1px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../images/siteslogo.png);
}
.sitebg2{
  background-position: -20px 0;
}
.sitebg3{
  background-position: 0 -17px;
}
.sitebg4{
  background-position: -40px 0;
}
.sitebg5{
  background-position: -20px -17px;
}
.Sites a{
  padding-left: 20px;
}
.right_menu{
  position: relative;
  float: right;
  width: 800px;
  height: 30px;
}
.mobile_jd{
  position: relative;
  float: right;
  width: 50px;
  height: 30px;
}
.mobile_jd_sjx{
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid;
  top:18px;
  left: 20px;
  z-index: 1000;
  border-color: transparent transparent #fff;
  display: none;
}
.mobile_jd_yc{
  position: absolute;
  width: 200px;
  height: 300px;
  background: #fff;
  border: 1px solid #ccc;
  top:29px;
  left: -140px;
  z-index: 999;
  display: none;
}
.mobile_jd_smallbody{
  position: relative;
  width: 200px;
  height: 100px;
  border-bottom: 1px solid #e7e7e7;
}
.mobile_jd_left{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 6px;
  top:10px;
}
.mobile_jd_left img{
  width: 75px;
  padding: 1px;
  border: 1px solid #e7e7e7;
}
.mobile_jd_right{
  position: absolute;
  width: 100px;
  height: 78px;
  left: 90px;
  top:11px;
  line-height: 17px;
}
.mobile_jd_ios,
.mobile_jd_and{
  position: relative;
  width: 45px;
  height: 40px;
  float: left;
  top:6px;
  left: 3px;
}
.mobile_jd_right img{
  width: 30px;
}
.nav_list_ul{
  position: absolute;
  width: 500px;
  height: 30px;
  left: 230px;
  line-height: 28px;
}
.nav_list_ul li{
  float: left;
  margin: 0 7px;
  padding:0 5px;
  top:0;
  left: 0;
  letter-spacing: 0.5px;
}
.nav_list_shu{
  position: absolute;
  width: 2px;
  height: 10px;
  background: #cccccc;
  top:10px;
}
.xiala{
  width: 8px;
}
.nav_register{
  position: absolute;
  width: 50px;
  height: 30px;
  left: 170px;
}
/* 定义一些字体位置 */
.aba{
  position: absolute;
}
/* 定义一些字体颜色 */
.coa{
  color: #e1251b !important;
}
/* 定义导航栏li的触碰样式 */
.liover{
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
/* 定义导航栏li下拉菜单的部分样式 */
.lixl{
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  display: none;
  z-index: 999;
  box-shadow: 1px 1px 2px #e7e7e7;
}
/* 定义导航栏下拉字体的触碰颜色 */
.n_xl a:hover{
  color: #f10215;
}
.nav_placeup{
  position: absolute;
  width: 100px;
  height: 30px;
  left: 95px;
}
.jd_body{
  position: relative;
  width: 1170px;
  height: 2000px;
  margin: 0 auto;
  top:10px;
}
.nav_myjd{
  position: absolute;
  width: 270px;
  height: 170px;
  left: 81px;
}
.nav_myjd_top{
  position: relative;
  width: 270px;
  height: 100px;
  border-bottom: 1px solid #f1f1f1;
}
.nav_myjd_btm{
  position: relative;
  width: 270px;
  height: 70px;
}
.nav_myjd_topl,
.nav_myjd_btml{
  position: relative;
  float: left;
  width: 100px;
  height: 100%;
  text-align: left;
  top:5px;
  left: 10px;
}
.nav_myjd_topr,
.nav_myjd_btmr{
  position: relative;
  float: left;
  width: 100px;
  height: 100%;
  text-align: left;
  top:5px;
  left: 40px;
}
.nav_qycg{
  position: absolute;
  width: 150px;
  height: 70px;
  left: 242px;
}
.nav_qycg_body{
  position: relative;
  left: 10px;
  top:5px;
}
.nav_qycg_body a{
  padding-right: 20px;
}
.nav_khfw {
  position: absolute;
  width: 166px;
  height: 250px;
  left: 235px;
  line-height: 23px;
}
.nav_khfw_top{
  position: relative;
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #f1f1f1;
}
.nav_khfw_btm{
  position: relative;
  width: 100%;
  height: 110px;
}
.nav_khfw_topl,
.nav_khfw_btml{
  position: relative;
  float: left;
  width: 80px;
  height: 100%;
  text-align: left;
  top:30px;
  left: 10px;
}
.nav_khfw_topr,
.nav_khfw_btmr{
  position: relative;
  float: left;
  width: 80px;
  height: 100%;
  text-align: left;
  top:30px;
  left: 15px;
}
.nav_khfw_title{
  position: absolute;
  width: 100%;
  height: auto;
  left: 10px;
  top:5px;
  color: #666666;
}
.nav_wzdh{
  position: absolute;
  width: 1170px;
  height: 210px;
  left: -600px;
  top:30px;
}
.nav_wzdh_body,
.nav_wzdh_bodys{
  position: relative;
  width: 330px;
  height: 200px;
  float: left;
  top:15px;
  margin-left: 25px;
  border-right: 1px solid #eee;
}
.nav_wzdh_bodys{
  width: 240px;
  left: 5px;
}
.nav_wzdh_title{
  position: absolute;
  width: 100%;
  height: 20px;
  top:-5px;
}
.nav_wzdh_smallbody{
  position: absolute;
  width: 100%;
  height: 170px;
  top:30px;
}
.nav_wzdh_minibody{
  position: relative;
  float: left;
  width: 75px;
  height: 170px;
}
