.jd_footer {
  position: relative;
  width: 100%;
  height: 580px;
  background: #f4f4f4;
  margin: 0 auto;
}

.jd_service {
  position: relative;
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  left: 10px;
}

.jd_service_inner {
  position: relative;
  width: 1190px;
  height: 42px;
  top: 29px;
}

.jd_service_one {
  position: relative;
  float: left;
  width: 297px;
  height: 42px;
}

.service_one_ce {
  position: relative;
  width: 230px;
  height: 42px;
  margin: 0 auto;
}

.service_one_li {
  position: absolute;
  width: 40px;
  height: 42px;
  background: url(../images/jd_service.png);
}

.service_duo {
  background-position: 0 -192px;
}

.service_kuai {
  background-position: -41px -192px;
}

.service_hao {
  background-position: -82px -192px;
}

.service_sheng {
  background-position: -123px -192px;
}

.service_one_lte {
  position: absolute;
  width: 190px;
  height: 42px;
  line-height: 42px;
  left: 45px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.jd_service_fg {
  position: relative;
  width: 100%;
  height: 1px;
  top: 2px;
  background: #dedede;
}

.jd_help {
  position: relative;
  width: 1190px;
  height: 180px;
  margin: 0 auto;
  top: 20px;
  border-bottom: 1px solid #dedede;
}

.jd_help_nav {
  position: relative;
  float: left;
  width: 198px;
  height: 160px;
}

.jd_help_tit {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.jd_help_nav a {
  color: #666;
  font-size: 13px;
  line-height: 22px;
}

.jd_help_nav a:hover {
  color: #f10214;
}

.jd_help_cover {
  position: relative;
  float: right;
  width: 200px;
  height: 150px;
  background-position: 0 0;
  background-image: url(../images/jd_service.png);
}

.help_cover_tit {
  text-align: center;
  font-size: 14px;
  color: #666;
}

.help_cover_con {
  position: relative;
  width: 190px;
  height: 60px;
  margin: 0 auto;
  top: 20px;
  font-size: 13px;
  color: #666;
  line-height: 20px;
}

.help_cover_bt {
  position: relative;
  width: 190px;
  height: 15px;
  margin: 0 auto;
  text-align: right;
  line-height: 15px;
  top: 28px;
  right: 5px;
}

.help_cover_bt a {
  color: #666;
  font-size: 13px;
}

.help_cover_bt a:hover {
  color: #f10214;
}

.jd_copyright {
  position: relative;
  width: 1190px;
  height: 240px;
  margin: 0 auto;
  top: 20px;
}

.jd_copyright_link {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.jd_copyright_link a {
  font-size: 13px;
  color: #666;
}

.jd_copyright_link span {
  position: relative;
  top: -1px;
  font-size: 12px;
  color: #999;
  padding: 0 5px;
}

.jd_copyright_cert {
  position: relative;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}

.jd_copyright_cert span,
.jd_copyright_cert a {
  padding: 0 3px;
  color: #999;
}

.jd_copyright_ot {
  position: relative;
  width: 620px;
  height: 30px;
  line-height: 30px;
  top: -25px;
  margin: 0 auto;
}

.jd_copyright_ot a {
  color: #999;
  font-size: 13px;
}

.jd_copyright_qx {
  position: relative;
  width: 500px;
  height: 30px;
  margin: 0 auto;
}

.jd_copyright_ts {
  position: relative;
  width: 500px;
  height: 32px;
  top: 15px;
  margin: 0 auto;
}

.jd_copyright_tso {
  position: relative;
  width: 100px;
  height: 32px;
  float: left;
  background-repeat: no-repeat;
  background: url(../images/jd_service.png);
}

.copyright_tso1 {
  background-position: -205px -111px;
}

.copyright_tso2 {
  background-position: -205px -74px;
}

.copyright_tso3 {
  background-position: -205px -37px;
}

.copyright_tso4 {
  background-position: -205px 0;
}

.copyright_tso5 {
  background-position: 0 -155px;
}

.Sitesbg {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 10px;
  margin-top: 1px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../images/siteslogo.png);
}

.sitebg2 {
  background-position: -20px 0;
}

.sitebg3 {
  background-position: 0 -17px;
}

.sitebg4 {
  background-position: -40px 0;
}

.sitebg5 {
  background-position: -20px -17px;
}

.Sites a {
  padding-left: 20px;
}

.Sites {
  position: relative;
  float: left;
  width: 150px;
  height: 25px;
  top: 25px;
}

.copyright_ot_site {
  width: auto;
  padding-right: 15px;
}
