.ms_header {
  height: 100px;
}

.jd_dsw {
  background: #fff;
  overflow: hidden;
}

.jd_cart {
  left: 1000px;
}

.jd_cart a {
  color: #c81623;
}

.jd_cart span {
  background: #c81623;
}

.ms_header_search {
  width: 570px;
  left: 25px;
  border: 2px solid #b61d1d;
}

.ms_header_search_b {
  width: 110px;
  background: none;
}

.header_search_one {
  position: relative;
  float: left;
  width: 55px;
  height: 40px;
  top: -2px;
  left: 2px;
  background: #b61d1d;
  font-size: 13px;
}

.header_search_one2 {
  background: #474e5c;
}

.ms_header_sctot {
  left: 5px;
}

.ms_header_fl {
  position: absolute;
  width: 70px;
  height: 25px;
  color: #666;
  font-size: 12px;
  top: 25px;
  left: 180px;
  line-height: 25px;
  text-indent: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-image: url(../images/ms_xl.png);
  background-position: 58px;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

.ms_header_fl:hover {
  color: #b61d1d;
}

.jd_show_name {
  position: relative;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  margin-top: 40px;
}

.jd_show_name_te,
.jd_show_name_im {
  position: absolute;
  width: 300px;
  height: 110px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.jd_show_name_im {
  left: 330px;
}

.jd_show_name_im img {
  width: 145px;
  height: 35px;
}

.jd_show_nav {
  position: relative;
  width: 100%;
  height: 40px;
  background: #333;
}

.show_nav_ul {
  position: relative;
  width: 1100px;
  height: 40px;
  margin: 0 auto;
}

.show_nav_ul li {
  float: left;
}

.show_nav_ul li>a {
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  line-height: 40px;
}

.show_nav_ul li>a:hover {
  color: #999;
}

.show_nav_yc {
  position: absolute;
  width: 1600px;
  height: 200px;
  left: -195px;
  background: rgba(255, 255, 255, .9);
  z-index: 999;
  display: none;
}

.show_nav_ce {
  position: relative;
  height: 200px;
  margin: 0 auto;
  left: -70px;
}

.show_nav_ce1 {
  width: 800px;
}

.show_nav_ce2 {
  width: 1200px;
}

.show_nav_ce3 {
  width: 1320px;
  left: -50px;
}

.show_nav_ce4 {
  width: 400px;
}

.show_nav_ce5 {
  width: 550px;
}

.show_nav_ce6 {
  width: 1100px;
}

.show_1 {
  position: relative;
  float: left;
  width: 120px;
  height: 100px;
  top: 30px;
  margin-left: 12px;
  text-align: center;
  color: #333;
}

.show_1:hover {
  color: #485aff;
}

.show_1 img {
  width: 120px;
}

.nav_hh {
  top: -12px !important;
}

.nav_hh2 {
  top: -14px !important;
}

.mac_new {
  color: #e22929;
  top: -10px !important;
}

.show_1 span {
  position: relative;
  font-size: 12px;
  top: -7px;
}

.jd_show_add {
  position: relative;
  width: 100%;
  height: 44px;
  background: #f2f2f2;
}

.show_add_ce {
  position: relative;
  width: 1190px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  font-size: 13px;
}

.show_add_l {
  position: absolute;
  width: 500px;
  height: 44px;
}

.show_add_ce a,
.show_add_ce i {
  color: #333;
  padding: 0 8px;
  font-style: normal;
}

.show_add_ce a:hover {
  color: #c81623;
}

.show_add_l span {
  color: #333;
  font-weight: 200;
}

.show_add_r {
  position: absolute;
  width: 400px;
  height: 44px;
  left: 790px;
}

.jd_zy_bq {
  position: absolute;
  height: 14px;
  padding: 1px;
  line-height: 14px;
  color: #fff;
  background: #e4393c;
  cursor: pointer;
  top: 15px;
}

.jd_add_dpm {
  position: absolute;
  left: 30px;
}

.jd_add_kf {
  position: absolute;
  width: 150px;
  height: 16px;
  left: 220px;
}

.jd_add_kf i {
  position: absolute;
  height: 16px;
  top: 15px;
  left: -13px;
  background-image: url(../images/jd_jl.png);
  background-position: -34px -16px;
  background-repeat: no-repeat;
}

.jd_add_dp {
  left: 308px;
}

.jd_add_dp i {
  top: 14px;
  background-position: -34px 0;
}