.ms_header {
  height: 100px;
}

.jd_dsw {
  height: auto;
  background: #fff;
  overflow: hidden;
  user-select: none;
}

.jd_cart {
  left: 1000px;
}

.jd_cart a {
  color: #c81623;
}

.jd_cart span {
  background: #c81623;
}

.ms_header_search {
  width: 570px;
  left: 25px;
  border: 2px solid #b61d1d;
}

.ms_header_search_b {
  width: 110px;
  background: none;
}

.header_search_one {
  position: relative;
  float: left;
  width: 55px;
  height: 40px;
  top: -2px;
  left: 2px;
  background: #b61d1d;
  font-size: 13px;
}

.header_search_one2 {
  background: #474e5c;
}

.ms_header_sctot {
  left: 5px;
}

.ms_header_fl {
  position: absolute;
  width: 70px;
  height: 25px;
  color: #666;
  font-size: 12px;
  top: 25px;
  left: 180px;
  line-height: 25px;
  text-indent: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-image: url(../images/ms_xl.png);
  background-position: 58px;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

.ms_header_fl:hover {
  color: #b61d1d;
}

.jd_show_name {
  position: relative;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  margin-top: 40px;
}

.jd_show_name_te,
.jd_show_name_im {
  position: absolute;
  width: 300px;
  height: 110px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.jd_show_name_im {
  left: 330px;
}

.jd_show_name_im img {
  width: 145px;
  height: 35px;
}

.jd_show_nav {
  position: relative;
  width: 100%;
  height: 40px;
  background: #333;
}

.show_nav_ul {
  position: relative;
  width: 1100px;
  height: 40px;
  margin: 0 auto;
}

.show_nav_ul li {
  float: left;
}

.show_nav_ul li>a {
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  line-height: 40px;
}

.show_nav_ul li>a:hover {
  color: #999;
}

.show_nav_yc {
  position: absolute;
  width: 1600px;
  height: 230px;
  left: -195px;
  background: rgba(255, 255, 255, .9);
  z-index: 999;
  display: none;
}

.show_nav_ce {
  position: relative;
  height: 200px;
  margin: 0 auto;
  left: -70px;
}

.show_nav_ce1 {
  width: 800px;
}

.show_nav_ce2 {
  width: 1200px;
}

.show_nav_ce3 {
  width: 1320px;
  left: -50px;
}

.show_nav_ce4 {
  width: 400px;
}

.show_nav_ce5 {
  width: 550px;
}

.show_nav_ce6 {
  width: 1100px;
}

.show_1 {
  position: relative;
  float: left;
  width: 120px;
  height: 100px;
  top: 30px;
  margin-left: 12px;
  text-align: center;
  color: #333;
}

.show_1:hover {
  color: #485aff;
}

.show_1 img {
  width: 120px;
}

.nav_hh {
  top: -12px !important;
}

.nav_hh2 {
  top: -14px !important;
}

.mac_new {
  color: #e22929;
  top: -10px !important;
}

.show_1 span {
  position: relative;
  font-size: 12px;
  top: -7px;
}

.jd_show_add {
  position: relative;
  width: 100%;
  height: 44px;
  background: #f2f2f2;
}

.show_add_ce {
  position: relative;
  width: 1190px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  font-size: 13px;
}

.show_add_l {
  position: absolute;
  width: 500px;
  height: 44px;
}

.show_add_ce a,
.show_add_ce i {
  color: #333;
  padding: 0 8px;
  font-style: normal;
}

.show_add_ce a:hover {
  color: #c81623;
}

.show_add_l span {
  color: #333;
  font-weight: 200;
}

.show_add_r {
  position: absolute;
  width: 370px;
  height: 44px;
  left: 815px;
}

.jd_zy_bq {
  position: absolute;
  height: 14px;
  padding: 1px;
  line-height: 14px;
  color: #fff;
  background: #e4393c;
  cursor: pointer;
  top: 15px;
}

.jd_add_dpm {
  position: absolute;
  left: 30px;
}

.jd_add_kf {
  position: absolute;
  width: 150px;
  height: 16px;
  left: 220px;
}

.jd_add_kf i {
  position: absolute;
  height: 16px;
  top: 15px;
  left: -13px;
  background-image: url(../images/jd_jl.png);
  background-position: -34px -16px;
  background-repeat: no-repeat;
}

.jd_add_dp {
  left: 308px;
}

.jd_add_dp i {
  top: 14px;
  background-position: -34px 0;
}

.jd_show {
  position: relative;
  width: 1190px;
  height: 785px;
  margin: 0 auto;
  top: 10px;
}

.jd_sp_im {
  position: absolute;
  width: 450px;
  height: 450px;
  border: 1px solid #eee;
}

.jd_sp_im img {
  position: absolute;
  width: 450px;
}

.mask {
  position: absolute;
  display: none;
  width: 225px;
  height: 225px;
  background: #ffefa7;
  opacity: 0.5;
  border: 1px solid #eee;
  cursor: move;
  z-index: 999;
}

.jd_sp_big {
  position: absolute;
  width: 540px;
  height: 540px;
  top: 0;
  left: 451px;
  border: 1px solid #eee;
  overflow: hidden;
  display: none;
  z-index: 999;
}

.jd_sp_big img {
  position: absolute;
  width: 1080px;
}

.sp_mini_list {
  position: relative;
  width: 450px;
  height: 60px;
  top: 470px
}

.sp_mini_ce {
  position: relative;
  width: 380px;
  height: 55px;
  margin: 0 auto;
}

.sp_mini_ce li {
  position: relative;
  float: left;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  left: -8px;
}

.sp_mini_ce li img {
  position: absolute;
  width: 50px;
}

.sp_mini_jt {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.sp_mini_jt_r {
  float: right;
}

.sp_mini_jt img {
  width: 20px;
}

.sp_mini_jt:hover {
  opacity: 0.8;
}

.sp_mini_bk {
  position: absolute;
  width: 50px;
  height: 52px;
  border: 2px solid #e53e41;
  z-index: 999;
  left: 10px;
  top: -3px;
}

.jd_sp_zs {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -1px;
  right: 0px;
  background-image: url(../images/jd_jlt2.png);
  background-position: 0 -24px;
}

.jd_sp_jb {
  position: relative;
  width: 450px;
  height: 20px;
  top: 480px;
}

.sp_jb_l {
  position: relative;
  float: left;
  width: 200px;
  height: 20px;
}

.sp_jb_r {
  position: relative;
  float: right;
  width: 30px;
  height: 20px;
  font-size: 12px;
  color: #333;
  text-align: right;
}

.sp_jb_one {
  position: relative;
  float: left;
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 12px;
}

.sp_jb_one i {
  position: relative;
  top: 5px;
  width: 15px;
  height: 16px;
  font-style: normal;
  display: inline-block;
  background-image: url(../images/jd_jlt2.png);
  background-position: -44px -40px;
}

.sp_jb_one2 i {
  background-position: -45px -24px;
}

.sp_jb_one3 i {
  background-position: -30px -24px
}

.sp_jb_one:hover,
.sp_jb_r:hover {
  cursor: pointer;
  color: #e22929;
}

.jd_sp_qy {
  position: relative;
  width: 450px;
  height: 30px;
  top: 500px;
}

.sp_qy_bt {
  position: relative;
  width: 100px;
  height: 27px;
  top: 3px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 27px;
  border: 1px solid #ccc;
  color: #333;
  transition: 0.2s;
}

.sp_qy_bt:hover {
  background: #e22929;
  color: #fff;
}

.sp_menu {
  position: absolute;
  width: 710px;
  height: 100%;
  left: 475px;
  top: 0;
  font-size: 12px;
}

.sp_menu_title {
  position: relative;
  width: 740px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  top: 5px;
}

.sp_menu_title i {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 30px;
  height: 20px;
  font-style: normal;
  text-align: center;
  background: #08af37;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
}

.sp_menu_tits {
  position: relative;
  width: 740px;
  height: 20px;
  top: 5px;
  color: #e22929;
}

.sp_menu_tits a {
  color: blueviolet;
  text-decoration: underline;
}

.sp_menu_spr {
  position: relative;
  width: 710px;
  height: 80px;
  background: #f3f3f3;
  margin-top: 9px;
}

.menu_sprice {
  position: absolute;
  width: 400px;
  height: 30px;
  left: 10px;
  top: 3px;
}

.menu_sprice2 {
  top: 48px;
}

.sp_jdj {
  position: relative;
  top: -2px;
  color: #999;
  letter-spacing: 5px;
}

.sp_cx {
  letter-spacing: 22px;
}

.sp_jj {
  position: relative;
  left: 10px;
  color: #005aa0;
  cursor: pointer;
}

.sp_jj:hover {
  color: #e22929;
}

.menu_sprice i {
  position: relative;
  left: 4px;
  padding-right: 3px;
  font-size: 15px;
  font-style: normal;
  color: #e22929;
}

.menu_sprice pr {
  font-size: 22px;
  color: #e22929;
}

.sp_zp {
  position: relative;
  color: #e22929;
  top: -2px;
  border: 1px solid #e22929;
  padding: 2px 3px;
  left: -10px;
}

.sp_zp_im {
  position: absolute;
  width: 150px;
  height: 25px;
  top: -6px;
  left: 105px;
}

.sp_zp_sl {
  position: relative;
  color: #e22929;
  top: -5px;
}

.sp_zp_im img {
  width: 25px;
  cursor: pointer;
}

.sp_zp_ts {
  position: relative;
  color: #999;
  left: 7px;
  top: -5px;
}

.menu_pj {
  position: relative;
  float: right;
  width: 60px;
  height: 35px;
  right: 15px;
  top: 5px;
}

.menu_pj span {
  color: #999;
}

.menu_pj a {
  color: #005ea7;
  font: 14px verdana;
  margin-left: 2px;
}

.menu_pj a:hover {
  color: #e4393c;
}

.sp_menu_zz {
  position: relative;
  width: 500px;
  height: 30px;
  left: 10px;
  top: 10px;
}

.sp_menu_zz span {
  color: #999;
  font-size: 12px;
}

.sp_menu_hs {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 0;
  left: 62px;
  border-radius: 10px;
  line-height: 16px;
  cursor: pointer;
  border: 1px solid #ced2e6;
}

.sp_menu_tc {
  width: 58px;
  left: 205px;
}

.sp_menu_hs span {
  position: absolute;
  left: 18px;
  color: #5e69ad;
}

.sp_menu_hs i {
  position: absolute;
  left: -1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/sp_show/sp_jlt3.png);
  background-position: 0 -16px;
}

.sp_menu_tc i {
  background-position: -48px -16px;
}

.sp_menu_ps {
  position: relative;
  width: 700px;
  height: 60px;
  top: 10px;
  left: 10px;
  letter-spacing: 5px;
  color: #999;
}

.menu_ps_add {
  position: absolute;
  width: 162px;
  height: 20px;
  top: -3px;
  left: 60px;
  border: 1px solid #999;
  line-height: 20px;
  text-indent: 5px;
  color: #666;
  letter-spacing: normal;
}

.menu_ps_add i {
  position: relative;
  float: right;
  right: 5px;
  width: 17px;
  height: 17px;
  top: 2px;
  background-image: url(../images/sp_show/sp_jlt4.png);
  background-position: 3px 5px;
}

.menu_ps_bq {
  position: absolute;
  width: 450px;
  height: 20px;
  left: 230px;
  top: -1px;
  letter-spacing: normal;
}

.menu_ps_jzd {
  color: #005aa0;
  padding: 3px;
  cursor: pointer;
}

.menu_ps_jzd:hover {
  color: #e53e41;
}

.menu_ps_sm {
  position: relative;
  width: 400px;
  height: 30px;
  line-height: 30px;
  color: #999;
  left: 60px;
  top: 5px;
  letter-spacing: normal;
}

.menu_ps_sm span {
  color: #e22929;
}

.sp_menu_zl {
  position: relative;
  width: 710px;
  height: 28px;
  top: 10px;
  letter-spacing: 22px;
  color: #999;
  text-indent: 10px;
  border-bottom: 1px solid #dfdfdf;
}

.menu_zl_ss {
  position: absolute;
  left: 60px;
  letter-spacing: normal;
  color: #333;
}

.sp_menu_co {
  position: relative;
  width: 710px;
  height: 30px;
  left: 10px;
  top: 10px;
  color: #999;
}

.menu_co_o,
.se_sp {
  position: relative;
  top: 12px;
  left: 5px;
  display: inline-block;
  margin-left: 5px;
  width: 106px;
  height: 40px;
  background: #f7f7f7;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #cccccc;
  transition: 0.2s;
}

.menu_f {
  opacity: 0.8;
}

.se_sp {
  background: #fff;
  height: 34px;
}

.co_o_mini {
  width: 80px;
}

.menu_co_o img {
  position: absolute;
  width: 38px;
}

.menu_co_o span,
.se_sp span {
  position: relative;
  float: right;
  line-height: 40px;
  right: 10px;
  color: #666;
}

.se_sp span {
  position: absolute;
  right: 0;
  left: 0;
  line-height: 34px;
  text-align: center;
}

.se_sp:hover,
.menu_co_o:hover {
  border: 1px solid #e3393c;
}

.sp_menu_bb {
  margin-top: 18px;
}

.menu_bb_m {
  width: 60px;
}

.menu_buy_m {
  width: 125px;
}

.menu_bt_m {
  width: 115px;
}

.menu_buy_mini {
  width: 70px;
}

.menu_buy_m2 {
  width: 78px;
}

.sp_menu_tz>span {
  letter-spacing: 22px;
}

.menu_tz {
  position: relative;
  width: 82px;
  left: -15px;
}

.sp_menu_fw,
.sp_menu_jd,
.sp_menu_tz,
.sp_menu_buy,
.sp_menu_bt {
  margin-top: 12px;
}

.menu_zz {
  width: 135px;
}

.menu_zz img,
.menu_jd img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
}

.menu_zz span,
.menu_jd span {
  text-indent: 22px;
}

.menu_jd {
  width: 142px;
}

.menu_jd img {
  width: 17px;
}

.menu_fx {
  position: relative;
  width: 100%;
  height: 1px;
  background: #dfdfdf;
  margin-top: 36px;
}

.sp_menu_nu {
  position: absolute;
  width: 60px;
  height: 45px;
  border: 1px solid #ccc;
  margin-top: 15px;
  left: 10px;
}

.menu_in {
  position: absolute;
  width: 60px;
  height: 45px;
  border: none;
  outline: none;
  text-align: center;
}

.menu_cz {
  position: relative;
  float: right;
  width: 15px;
  height: 45px;
  right: 1px;
  top: -1px;
}

.menu_jia {
  width: 15px;
  height: 22px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  text-align: center;
  line-height: 22px;
  color: #666;
  cursor: pointer;
  z-index: 999;
}

.menu_jian {
  position: relative;
  top: -1px;
}

.sp_menu_scar {
  position: absolute;
  width: 142px;
  height: 46px;
  background: #df3033;
  text-align: center;
  line-height: 46px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  left: 82px;
  transition: 0.2s;
}

.sp_menu_scar:hover {
  background: black;
}

.sp_menu_ts {
  margin-top: 75px;
}

.menu_ts {
  position: absolute;
  width: 500px;
  height: 18px;
  top: 0;
  left: 60px;
  line-height: 18px;
}

.menu_ts_sp2 {
  padding-left: 18px;
}

.show_pj {
  position: relative;
  width: 1190px;
  height: 255px;
  margin: 0 auto;
}

.show_pj_tab {
  position: absolute;
  width: 1190px;
  height: 38px;
  background: #f7f7f7;
  border-bottom: 1px solid #e4393c;
}

.pj_tab_one {
  position: relative;
  float: left;
  width: 106px;
  height: 38px;
  color: #333;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  cursor: pointer;
}

.pj_tab_one:hover {
  color: #e4393c;
}

.tab_cli {
  background: #e4393c;
}

.tab_cli span {
  color: #fff;
}

.show_pj_qh {
  position: absolute;
  width: 1190px;
  height: 217px;
  background: #fff;
  margin-top: 40px;
}

.pj_phone {
  position: relative;
  float: left;
  width: 144px;
  height: 161px;
  top: 20px;
}

.pj_phone_im {
  position: relative;
  width: 144px;
  height: 100px;
}

.pj_phim {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

.pj_phpl {
  position: relative;
  float: right;
  width: 23px;
  height: 23px;
  right: 8px;
  top: 38px;
}

.pj_phone_tit {
  position: relative;
  width: 150px;
  height: 36px;
  overflow: hidden;
  line-height: 18px;
  color: #333;
  font-size: 12px;
  top: 5px;
}

.pj_list {
  position: absolute;
  width: 805px;
  height: 161px;
  left: 145px;
  top: 20px;
  margin-left: 20px;
  display: none;
}

.pj_list_jtl {
  position: relative;
  float: left;
  width: 23px;
  height: 73px;
  top: 20px;
  background: url(../images/sp_show/page-btn.png) -94px -94px no-repeat;
}

.pj_list_jtr {
  float: right;
  background: url(../images/sp_show/page-btn.png)-94px 0 no-repeat;
}

.pj_list_body {
  position: relative;
  width: 720px;
  height: 161px;
  margin: 0 auto;
}

.pj_phone_tit2 {
  width: 120px;
}

.pj_phone2 {
  top: 0;
  left: 12px;
}

.pj_list_pr {
  position: relative;
  width: 100px;
  height: 20px;
  margin-top: 8px;
  line-height: 20px;
  color: #e4393c;
  font-weight: bold;
  font-size: 14px;
}

.pj_list_pr i {
  font-style: normal;
  font-size: 14px;
  margin-left: 16px;
}

.pj_list_ckb {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 4px;
  left: 3px;
}

.pj_list_pr span {
  position: relative;
  left: -5px;
}

.pj_pr {
  position: relative;
  float: right;
  width: 200px;
  height: 138px;
  margin-top: 20px;
}

.pj_pr_d {
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  background: url(../images/sp_show/pj_d.png) no-repeat;
  top: 38px;
}

.pj_pr_se {
  position: relative;
  float: right;
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #333;
  top: 22px;
}

.pj_pr_se i {
  font-style: normal;
  font-size: 20px;
  color: #df3033;
  font-weight: bold;
}

.pj_buy {
  position: relative;
  float: right;
  width: 90px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 12px;
  margin-top: 35px;
  right: 70px;
  background: #df3033;
  cursor: pointer;
}

.pj_xg {
  position: absolute;
  width: 90px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #666;
  font-size: 12px;
  margin-top: 122px;
  margin-left: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

.jd_para {
  position: relative;
  width: 1190px;
  height: 3000px;
  margin: 0 auto;
}

.jd_aside {
  position: absolute;
  width: 210px;
  height: 3000px;
}

.as_search {
  position: relative;
  width: 210px;
  height: 140px;
  border: 1px solid #eeeeee;
}

.as_serch_tit {
  position: relative;
  width: 210px;
  height: 40px;
  line-height: 40px;
  color: #666;
  background: #f7f7f7;
  font-size: 13px;
  text-indent: 12px;
}

.as_gjz {
  position: relative;
  width: 150px;
  height: 26px;
  margin: 0 auto;
  top: 3px;
  line-height: 26px;
  font-size: 12px;
  margin-top: 3px;
}

.as_in {
  position: relative;
  float: right;
  top: 3px;
  width: 100px;
  height: 22px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

.as_in2 {
  position: absolute;
  width: 40px;
  left: 50px;
}

.as_d {
  position: relative;
  left: 43.5px;
}

.as_inr {
  margin-left: 60px;
}

.as_bt {
  position: relative;
  width: 150px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin: 0 auto;
  top: 10px;
  cursor: pointer;
}